In [1]:
library(readxl)
data = read_excel("GDP_CO2.xlsx")

In [2]:
head(data)

  year          gdp   co2      GDP         C02EmissionsInKilotons
1 1990 [YR1990] 52.83 11.52373 52833978980 11523.73
2 1991 [YR1991] 54.68 10.83076 54675363512 10830.76
3 1992 [YR1992] 57.65 11.82348 57651171621 11823.48
4 1993 [YR1993] 60.37 12.56840 60367442157 12568.40
5 1994 [YR1994] 62.72 13.54345 62715811986 13543.45
6 1995 [YR1995] 65.93 16.55448 65927663003 16554.48

In [4]:
df = data.frame(data)

In [5]:
str(df)

'data.frame':	31 obs. of  5 variables:
 $ year                  : chr  "1990 [YR1990]" "1991 [YR1991]" "1992 [YR1992]" "1993 [YR1993]" ...
 $ gdp                   : num  52.8 54.7 57.6 60.4 62.7 ...
 $ co2                   : num  11.5 10.8 11.8 12.6 13.5 ...
 $ GDP                   : num  5.28e+10 5.47e+10 5.77e+10 6.04e+10 6.27e+10 ...
 $ C02EmissionsInKilotons: num  11524 10831 11823 12568 13543 ...

In [7]:
hist(df$gdp, df$year)

ERROR: Error in r[i1] - r[-length(r):-(length(r) - lag + 1L)]: non-numeric argument to binary operator

In [8]:
cor(df$gdp, df$co2)

[1] 0.9910595

In [9]:
summary(df)

     year                gdp              co2             GDP
 Length:31          Min.   : 52.83   Min.   :10.83   Min.   :5.283e+10
 Class :character   1st Qu.: 73.86   1st Qu.:19.11   1st Qu.:7.387e+10
 Mode  :character   Median :106.94   Median :32.71   Median :1.069e+11
                    Mean   :126.52   Mean   :41.51   Mean   :1.265e+11
                    3rd Qu.:167.72   3rd Qu.:60.98   3rd Qu.:1.677e+11
                    Max.   :266.76   Max.   :95.94   Max.   :2.668e+11
 C02EmissionsInKilotons
 Min.   :10831
 1st Qu.:19110
 Median :32711
 Mean   :41509
 3rd Qu.:60975
 Max.   :95945